:root {
    /* Color Primary */
    --dark-blue: hsl(233, 26%, 24%);
    /* --lime-green: hsl(136, 65%, 51%); */
    --lime-green: #30D35C;
    /* --bright-cyan: hsl(192, 70%, 51%); */
    --bright-cyan: #2AB6D9;

    /* Color Neutral */
    --gray-blue: hsl(233, 8%, 62%);
    --light-grayish: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --btn-gradiente: linear-gradient(to right, rgba(48,211,91,1) 0%, rgba(42,182,217,1) 100%);
}

body{
    font-family: 'Public Sans', sans-serif;
}

/* Navbar */
.navbar{
    z-index: 5;
}
.navbar-toggler{
    color: var(--light-grayish);
    border: none;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}

.nav-link{
    color: var(--gray-blue);
}

.nav-link:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #30D35C;
    transition: width .3s;
}

.nav-link:hover::after{
    width: 100%;
}

.btn-request{
    background: var(--btn-gradiente);
    color: var(--white);
}

/* Hero section */
.bg-hero {
    background-image: url("../assets/bg-intro-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    width: 100%;
    height: 50vh;
    z-index: 0;
}

.wrapper-hero{
    position: absolute;
    top: 120%;
}
.bg-white{

}
.img-mockup-mobile{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    max-width: 90%;
    z-index: -3;
}

.btn-light{
    color: var(--white);
    background: var(--btn-gradiente);
}






/* media queries */

@media (min-width: 1440px) {
    .bg-hero{
        background-image: url('../assets/bg-intro-desktop.svg');
        background-size: cover;
    }
}