:root {
    /* Color Primary */
    --dark-blue: hsl(233, 26%, 24%);
    /* --lime-green: hsl(136, 65%, 51%); */
    --lime-green: #30D35C;
    /* --bright-cyan: hsl(192, 70%, 51%); */
    --bright-cyan: #2AB6D9;

    /* Color Neutral */
    --gray-blue: hsl(233, 8%, 62%);
    --light-grayish: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --btn-gradiente: linear-gradient(to right, rgba(48, 211, 91, 1) 0%, rgba(42, 182, 217, 1) 100%);
}

body {
    font-family: 'Public Sans', sans-serif;
}

p {
    color: var(--gray-blue);
}

h3 {
    color: var(--dark-blue);
}

/* colores */
.gray-blue {
    color: var(--gray-blue);
}

.bg-section-gray {
    background-color: var(--very-light-gray);
}

/* Navbar */
.navbar {
    z-index: 5;
}

.navbar-toggler {
    color: var(--light-grayish);
    border: none;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}

.nav-link {
    color: var(--gray-blue);
}

.nav-link-line:after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #30D35C;
    transition: width .3s;
    position: absolute;
    bottom: 0;
}

.nav-link-line:hover::after {
    width: 50px;
}

.btn-request {
    background: var(--btn-gradiente);
    color: var(--white);
    border: none;
}

.btn-request:hover {
    color: var(--white);
    opacity: 0.5;
}

/* Hero section */
.bg-hero {
    background-image: url("../assets/bg-intro-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 450px;
    top: 0;
    z-index: -5;
}

.wrapper-content-hero {
    margin-top: 70%;
}

.bg-white {}

.wrapper-img-mockup {
    height: 825px;
}

.img-mockup-mobile {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-11%) translateX(-50%);
    max-width: 90%;
    z-index: -3;
}

.col-none-hero {
    width: 100%;
    /* height: 450px; */
}

.btn-light {
    color: var(--white);
    background: var(--btn-gradiente);
}

.article-title:hover {
    color: var(--lime-green);
    cursor: pointer;
}

#img-article1 {
    height: 173px;
}


/* Footer */

.bg-footer {
    background-color: var(--dark-blue);
}

.bg-logo {
    color: var(--white);
    width: auto;
}

.rrs {
    max-width: 160px;
    display: flex;
    justify-content: space-between;
}

.link-footer:hover {
    color: var(--lime-green);
}

.icon-svg:hover {
    fill: var(--lime-green);
}




/* media queries */
@media (min-width: 768px) {
    .wrapper-content-hero {
        margin-top: 90%;
    }

    .bg-hero {
        height: 850px;
    }
}

@media (min-width: 1024px) {
    .wrapper-hero {
        position: relative;
        height: 480px;
        overflow: hidden;
    }

    .bg-desktop-hero {
        position: absolute;
        width: 892px;
        height: 720px;
        top: -100px;
        right: 0;
        transform: translateY(-12%) translateX(35%);

    }

    .wrapper-content-hero {
        margin-top: 0;
    }

    .img-mockup-desktop {
        position: absolute;
        width: 580px;
        height: 680px;
        right: -8%;
        top: -8%;
        z-index: 1;
    }
}